django
feedparser
deep-translator
requests
beautifulsoup4
lxml
python-dateutil

whitenoise
gunicorn
nest-asyncio
dj-database-url
psycopg2-binary
pysocks
openai
newspaper3k
python-dotenv
lxml_html_clean
